langchain
langchain-openai
langgraph
supabase
diskcache
python-dotenv
langsmith
typing-extensions
tavily-python
langchain-community
pypdf2
faiss-cpu
unstructured
pdfminer.six
rank-bm25
numpy
streamlit
tiktoken
