langchain
langchain-openai
langgraph
langchain-community
streamlit
supabase
python-dotenv
tavily-python
pypdf2
faiss-cpu
unstructured
rank-bm25
pydantic
langchain-core
langchain-groq
diskcache
tiktoken
numpy
httpx
pdfminer.six
langsmith
